<div class="card">
  <div class="card-block">
    <form *ngIf="car" [formGroup]="form" novalidate (ngSubmit)="onSubmit($event)">
      <legend>Car Form</legend>
      <div class="form-group" [class.has-danger]="form.controls.id.invalid">
        <label class="form-control-label">ID</label>
        <input class="form-control" type="number" formControlName="id" [(ngModel)]="car.id">
      </div>
      <div class="form-group" [class.has-danger]="form.controls.name.invalid">
        <label class="form-control-label">Name</label>
        <input class="form-control" type="text" formControlName="name" [(ngModel)]="car.name">
      </div>
      <div class="form-group" [class.has-danger]="form.controls.country.invalid">
        <label class="form-control-label">Country</label>
        <input type="text" class="form-control" type="text" formControlName="country" [(ngModel)]="car.country">
      </div>
      <div class="form-group" [class.has-danger]="form.controls.km_per_liter.invalid">
        <label class="form-control-label">km/l</label>
        <input type="number" class="form-control" type="text" formControlName="km_per_liter" [(ngModel)]="car.km_per_liter">
      </div>
      <div class="form-group" [class.has-danger]="form.controls.weigth.invalid">
        <label class="form-control-label">Weigth</label>
        <input type="number" class="form-control" type="text" formControlName="weigth" [(ngModel)]="car.weigth">
      </div>
      <div class="form-group" [class.has-danger]="form.controls.horsepower.invalid">
        <label class="form-control-label">Horsepower</label>
        <input type="number" class="form-control" type="text" formControlName="horsepower" [(ngModel)]="car.horsepower">
      </div>
      <div class="form-group" [class.has-danger]="form.controls.cylinders.invalid">
        <label class="form-control-label">Cylinders</label>
        <input type="number" class="form-control" type="text" formControlName="cylinders" [(ngModel)]="car.cylinders">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
</div>